.button-blue{
    font-family: $code;
    font-size: 1.2em;
    margin: 10px;
    color: $white;
    background-color: $blue;
    border-radius: 8px;
    border-style: none;
    text-align: center;
    margin-top: 1em;
    padding: .5em;

    &:hover{
        background-color: #3157d6;
    }
}