.playsnake{
    font-family: $code;
    font-size: 1.2em;
    color: $white;
    background-color: $red;
    border-radius: 8px;
    border-style: none;
    text-align: center;
    padding: .5em;
    width: 100px;

    
    &:hover{
        background-color: #972f37;
        box-shadow: 0 0mm 2mm rgb(8, 8, 8);
    }
}