$darkgray: #282c34;
$white: #ebe7d9;
$red : #d42735;
$blue : #275ed4;
$code : "Cascadia Code";


@mixin verticalCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin gridDeveloppement {
  background-color: #282c342c;
  border: #282c34;
  border-style: dashed;
}

* {
  user-select:none;

  cursor: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: $white;
}

.root{
  display: grid;
  place-items: center;
  min-height: 100vh;
}

.container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3,  20% 1fr );
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.logo-name{
  grid-area: 1 / 1 / 2 / 4;

}

.socials { 

  grid-area: 2 / 1 / 3 / 4;
  display: inline-flex;
  justify-content: center;
  place-items: center;
}

.games{
  margin-top: 10px;
  grid-area: 3 / 1 / 4 / 4;
  display: inline-flex;
  justify-content: center;
}


li {
  list-style-type: none;
}
